.footer {
  padding: 20px 0;
}

.toolbar {
  justify-content: center;
  background-color: transparent;
}

.menuList {
  display: flex;
  justify-content: center;
  gap: 15px; /* Reduce gap to streamline the layout */
  list-style: none;
  padding: 0;
}

.menuList a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-size: 0.75rem;
  &:hover {
    text-decoration: underline;
  }
}
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.75rem;
}
