// styles/custom-styles.scss

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.active-link {
  color: white;
}

.game-round-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;

  .round-1-tile,
  .round-2-tile {
    height: 0;
    padding: 50% 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    transform-style: preserve-3d;
    border-radius: 50% 50%;

    &:focus {
      animation: flip 0.45s ease-in-out forwards 1;
    }

    &::after {
      content: '';
      position: absolute;
      border-radius: 50% 50%;
      background-color: antiquewhite;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
    }

    &::before {
      content: attr(data-plu);
      background-color: #1976d2;
      color: white;
    }

    &::after {
      background-color: white;
      transform: rotateY(180deg);
    }

    &.correct::after {
      content: '\2714';
      color: #4caf50;
    }

    &.incorrect::after {
      content: '\2716';
      color: #f44336;
    }
  }

  .round-2-tile {
    font-size: 0.8rem;
  }
}

#loom-companion-mv3 {
  display: none;
}
